## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Decision_Tree_dataset.csv")

## Loading the Dataset

In [3]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

## Data Analysis

In [4]:
df=df.drop('Id',axis=1)

In [5]:
df.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

## Data Preprocessing

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder = LabelEncoder()

In [11]:
df.iloc[:,-1]= encoder.fit_transform(df.iloc[:,-1])

In [12]:
df.head(10)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0
5            5.4           3.9            1.7           0.4        0
6            4.6           3.4            1.4           0.3        0
7            5.0           3.4            1.5           0.2        0
8            4.4           2.9            1.4           0.2        0
9            4.9           3.1            1.5           0.1        0

## Separating Features and Target Values

In [13]:
X = df.iloc[:,:-1]
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [14]:
Y = df.iloc[:,-1]
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Species, dtype: int32

## Splitting the Training and Testing Set

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.20)

In [17]:
x_train.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
76             6.8           2.8            4.8           1.4
148            6.2           3.4            5.4           2.3
79             5.7           2.6            3.5           1.0
109            7.2           3.6            6.1           2.5
99             5.7           2.8            4.1           1.3

In [18]:
x_train.shape

(120, 4)

In [19]:
y_train.shape

(120,)

In [20]:
x_test.shape

(30, 4)

In [21]:
y_test.shape

(30,)

## Model Selection

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
model =  DecisionTreeClassifier()

## Model Training

In [24]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

## Prediction

In [25]:
predicted = model.predict(x_test)

In [26]:
df1 = pd.DataFrame({'Actual':y_test,'Predicted':predicted})

In [27]:
df1.head(10)

     Actual  Predicted
57        1          1
49        0          0
128       2          2
95        1          1
48        0          0
44        0          0
113       2          2
130       2          2
82        1          1
124       2          2

##  Model Evaluation

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(predicted,y_test)

0.9666666666666667

In [30]:
from sklearn.metrics import confusion_matrix

In [31]:
confusion_matrix(predicted,y_test)

array([[ 9,  0,  0],
       [ 0,  8,  0],
       [ 0,  1, 12]], dtype=int64)